$white: #fff;
$darkBlue: #7236bc; //#5f4aec; //#271c6f;
$middleBlue: #218ddd;
$normalBlue: #0c95d5;
$lightBlue: #61dafb;
$grey: #e9ecef;
$oldLightGreen: #33d20c;
$oldBLue: #0b7eb4;
$oldDarkGreen: #2cb40b;
$cyan: #e6faff;
$lightCyan: #f2fcff;
$errorColor: #ff4742;


